@font-face {
    font-family: "firenze";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/firenze/firenze.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/firenze/firenze.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/firenze/firenze.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/firenze/firenze.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/firenze/firenze.ttf") format("truetype");
    font-display: swap;
}
.firenze {
    font-family: "firenze";
}